
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script:wght@500&family=Great+Vibes&family=Merienda:wght@300&family=Poppins:ital,wght@1,200&family=Red+Rose:wght@300&display=swap");


.foryou{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .navbar{
        background-color: rgb(239, 247, 247);
        height: 100px;
        color: black;
        width: 100%;

        p{
            // background-color: aqua;
            list-style: none;
            width: auto;
            font-family: Great Vibes;
            font-size: 60px;
        }

        ul {
            display: flex;
            list-style: none;
            width: auto;
            justify-content: flex-end;
            top: 0%;
            font-style: poppins;
            // background-color: aquamarine;
            li{
                display: flex;
                align-items: center;

                .box{
                    display: flex;
                    align-items: center;
                    .btn{
                        background-color: #000000;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 6vh;
                        border-radius: 50px;
                        width: 110px;
                        font-weight: 700;
                        font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .collection{
        display: flex;
        margin: 40px;
        flex-wrap: wrap;
        gap: 50px;

        .clzlist{
            border: 1px solid black;
            width: 55vh;
        }

        .styleimg{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40vh;
        
            img{
                // zoom: 90%;
                width: 150%;
                transform: scale(0.6);
                border: 2px solid #000000;
            }
        }

        .details{
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            text-align: justify;
            padding-left: 20px;
            padding-right: 10px;
            text-align: center;
            padding-bottom: 10px;

            h4{
                font-style: Red rose;
                // text-align: center;
                font-weight: 700;
                font-size: larger;
            }
        }
    }
